<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Health Care AB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HealthCareWebb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-teal box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index" style="color: white; font-size:25px; font-weight: bold;">
                    <img src="~/icons/health_care_logo.svg" alt="Health Care Logo" style="height: 100%; max-height: 100px;">
                    Health Care AB
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form asp-page="/Account/Logout" method="post" style="display: inline;">
                                <input type="hidden" name="returnUrl" value="/" />
                                <button type="submit" class="Btn">
                                    <div class="sign">
                                        <svg viewBox="0 0 512 512">
                                            <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                                        </svg>
                                    </div>
                                    <div class="text">Logout</div>
                                </button>
                            </form>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="login-button" asp-page="/Account/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="register-button" asp-page="/Account/Register">Registering</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            @if (User.Identity.IsAuthenticated)
            {
                <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-teal sidebar">
                    <div class="position-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                @if (User.IsInRole("Admin"))
                                {
                                    <form asp-area="" asp-page="/Dashboard/Admin/AdminDashboard" method="get" style="display:inline;">
                                        <button type="submit" class="button type1">
                                            <span class="btn-txt">Dashboard</span>
                                        </button>
                                    </form>
                                }
                                else if (User.IsInRole("User"))
                                {
                                    <form asp-area="" asp-page="/Dashboard/User/UserDashboard" method="get" style="display:inline;">
                                        <button type="submit" class="button type1">
                                            <span class="btn-txt">Dashboard</span>
                                        </button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-area="" asp-page="/Index" method="get" style="display:inline;">
                                        <button type="submit" class="button type1">
                                            <span class="btn-txt">Dashboard</span>
                                        </button>
                                    </form>
                                }
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-page="/Booking/BookAppointment" method="get" style="display:inline;">
                                    <button type="submit" class="button type1">
                                        <span class="btn-txt">Bokning</span>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </nav>
            }
            <!-- Main content -->
            <main role="main" class="@((User.Identity.IsAuthenticated ? "col-md-9 ms-sm-auto col-lg-10 px-4" : "col-12 px-4"))">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer bg-teal text-light box-shadow">
        <div class="container-fluid d-flex justify-content-between py-0">
            <!-- Vänster kolumn -->
            <div class="contact-left">
                <p class="m-0 p-0">+123-456-7890</p>
                <p class="m-0 p-0">hello@healthcare.com</p>
            </div>

            <!-- Höger kolumn -->
            <div class="contact-right text-end">
                <p class="m-0 p-0">123 Anywhere St., Any City, ST 12345</p>
                <p class="m-0 p-0">
                    <a href="https://localhost:7253/" class="text-light" target="_blank">www.healthcare.com</a>
                </p>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
