@page
@model HealthCareWebb.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
<a asp-page="/Account/Login">Return to Login</a>

