@page
@model HealthCareWebb.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}

<script src="site.js"></script>

<h2>Login</h2>

<form method="post">
    <div>
        <label asp-for="Username">Username:</label>
        <input asp-for="Username" type="text" />
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
    </div>
    <button type="submit">Login</button>
</form>

@if (TempData["UserId"] != null)
{
    <input type="hidden" id="userId" value="@TempData["UserId"]" />
}


@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p style="color:red;">@Model.ErrorMessage</p>
}
