@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Application</h1>
<p>This is the home page.</p>
<a asp-page="/Account/Login">Login</a> | <a asp-page="/Account/Register">Register</a>


